<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Titre de page</title>
    <%- include('partials/head'); %>
  </head>
<body>
    <%- include('partials/headbar'); %>

    <center>
        <p>Borne #<%= borneSelected.id %> - <%= borneSelected.nickname %> </p>

    </center>

</body>


<%- include('partials/bottom'); %>
</html>