<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Titre de page</title>
    <%- include('partials/head'); %>
  </head>
<body>
    <%- include('partials/headbar'); %>


    <center>
        <p>liste des bornes:</p>

    </center>

    <table style="width:70%; margin-left: 15%;">
        <tr>
          <th>ID</th>
          <th>Identifiant</th>
          <th>Dernière réception</th>
          <th></th>
        </tr>
        <% for(let borne of bornes ) { %> 
        
            <tr>
                <td><%= borne.lora_ID  %></td>
                <td><%= borne.nickname  %></td>
                <td>none</td>
                <td><button>Gérer</button></td>
              </tr>
    
        <%  } %>
      
      
      </table>

   

</body>


<%- include('partials/bottom'); %>
</html>